label{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;



}
.bogy{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap: 15px;

}
.button{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(135deg, #75c7f3, #488cb0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calcu{
    background-color: rgb(210, 210, 239);
    width: 500px;
    border-radius: 15px;
    padding: 20px;
}
#result{
     margin: auto;
    font-size: 30px;
    font-weight:bold;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color:white;
    border: 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}